@model TeknikServis.Models.Malzeme
@if (ViewBag.Sonuc != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fa fa-check"></i> Tebrikler!</h5>
        @ViewBag.Sonuc
    </div>
}


<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Malzeme Güncelle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm())
    {
        <input type="hidden" name="Malzeme_ID" value="@Model.Malzeme_ID" />

        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Malzeme Adı</label>
                <input type="text" class="form-control" name="Malzeme_Ad" placeholder="Malzeme Adı giriniz" value="@Model.Malzeme_Ad">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Adet</label>
                <input type="text" class="form-control" name="Adet" placeholder="Adet giriniz" value="@Model.Adet">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fiyat</label>
                <input type="text" class="form-control" name="Fiyat" placeholder="Fiyat giriniz" value="@Model.Fiyat">
            </div>
            

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    }

</div>